.homepage {
    padding-top: 90px;
    height: 90.7vh;
    background: linear-gradient(to top, rgba(71, 71, 71, 0.80), rgba(99, 100, 102, 0.80)), url(https://static.tildacdn.com/tild6436-3933-4732-b239-343930373433/happy-industry-ftr.jpg);
    background-color: rgba(#000, .9);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100vh;
}

.homepage__container {
    margin: 11% 0 0% 7%;
    height: 100vh;
    max-width: 629px;
}

.homepage__container-tittle {
    color: #a8a8a8;
    text-shadow: rgb(0 0 0 / 20%) 0px 2px 10px;
    font-family: 'FuturaPT', Arial, sans-serif;
    font-weight: 600;
    font-size: 48px;
}

.homepage__container-subtittle {
    color: #fff;
    opacity: 0.8;
    text-shadow: rgb(0 0 0 / 20%) 0px 2px 10px;
    font-size: 20px;
    line-height: 1.55;
}

.homepage__container button {
    color: rgb(77, 77, 77);
    background-color: rgb(249, 229, 71);
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 90%) 0px 0px 10px 0px;
    display: inline-block;
    font-family: 'FuturaPT', Arial, sans-serif;
    height: 60px;
    border: 0 none;
    font-size: 16px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: 700;
    margin-right: 2%;
    background-image: none;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-user-select: none;
}

.title {
    color: #a8a8a8;
    text-shadow: rgb(0 0 0 / 20%) 0px 2px 10px;
    font-family: 'FuturaPT', Arial, sans-serif;
    font-weight: 600;
    font-size: 48px;
    width: 17ch;
    font-size: 40px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid orange;
    animation: flashing-border 0.75s step-end infinite, printed-text 5s steps(21);
}

html {
    scroll-behavior: smooth;
}

@keyframes flashing-border {
    0% {
        border-color: orange;
    }
    50% {
        border-color: transparent;
    }
    100% {
        border-color: orange;
    }
}

@keyframes printed-text {
    from {
        width: 0;
    }
}

@media(max-width: 1100px) {
    .homepage {
        background-size: auto 100vh;
    }
}

@media (max-width: 600px) {
    .homepage__container button {
        margin-top: 20px;
    }
}

@media (max-width: 455px) {
    .homepage__container {
        margin: 0 2% 0 2%;
    }
    .homepage__container button {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 340px) {
    .homepage__container {
        margin: 0 2% 0 2%;
    }
    .homepage__container button {
        padding-left: 20px;
        padding-right: 20px;
    }
}