.homepage {
    padding-top: 90px;
    height: 90.7vh;
    background: linear-gradient(to top, rgba(71, 71, 71, 0.80), rgba(99,100,102,0.80)), url(https://static.tildacdn.com/tild6436-3933-4732-b239-343930373433/happy-industry-ftr.jpg);
    background-color: rgba(#000, .9);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100vh;
   
}


































@media(max-width: 1100px){
    .homepage {
      
        background-size: auto 100vh;
       
    }
}