.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background-color: rgb(249, 229, 71);
    height: 90px;
    box-shadow: rgb(0 0 0 / 40%) 0px 1px 3px;
}

.header__wrapper {
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    height: 90px;
    align-items: center;
}

.header__logo img {
    width: 170px;
}

.header__menu {
    height: 90px;
    align-items: center;
    display: flex;
}

.header__menu-items {
    display: flex;
}

.header__menu-item {
    list-style: none;
    padding: 0 15px 0 0;
}

.header__menu-item a {
    color: #4d4d4d;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

.header__phone a {
    font-weight: 700;
    color: #4d4d4d;
}

.header__mobile {
    padding: 0 2% 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__mobile-burgerMenu {
    position: relative;
    width: 28px;
    height: 28px;
    display: flex;
}

.header__mobile-burgerMenu span {
    position: absolute;
    width: 28px;
    height: 3px;
    background-color: #f9e547;
}

.header__mobile-burgerMenu .span1 {
    top: 25%;
}

.header__mobile-burgerMenu .span3 {
    top: 50%;
}

@media (min-width: 756px) {
    .header__mobile {
        display: none;
    }
}

@media (max-width: 756px) {
    .header {
        color: #fff;
        background-color: rgb(0, 0, 0);
    }
    .header__wrapper {
        display: none;
    }
}

