.header__menu{
    background-color: blue;
}
.navbar{
    display: flex;
    align-items: center;
}
@media screen and (max-width: 900px) {
    .header__menu{

        display: flex;
    }    
}
@media screen and (min-width: 900px) {
    .header__menu{
        display: flex;
    }    
}
