

.app__tittle h1 {
    text-align: center;
    font-size: 48px;
    color: rgb(77, 77, 77);
    font-family: 'FuturaPT', Arial, sans-serif;
    font-weight: 300;
}

.app__subtittle p {
    text-align: center;
    font-weight: 300;
    color: #000;
    font-size: 22px;
}