.calculation_bg{
    position: absolute;
    z-index: -100;
    
    height: 100vh;
    background-image: url(./images/Calculationbg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.calculation__filter {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-image: -moz-linear-gradient(top, rgba(50, 51, 51, 0.90), rgba(87, 86, 86, 0.80));
    background-image: -webkit-linear-gradient(top, rgba(50, 51, 51, 0.90), rgba(87, 86, 86, 0.80));
    background-image: -o-linear-gradient(top, rgba(50, 51, 51, 0.90), rgba(87, 86, 86, 0.80));
    background-image: -ms-linear-gradient(top, rgba(50, 51, 51, 0.90), rgba(87, 86, 86, 0.80));
    background-image: linear-gradient(top, rgba(50, 51, 51, 0.90), rgba(87, 86, 86, 0.80));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#19323333', endColorstr='#33575656');
}