.calculation_bg{
    position: absolute;
    height: 100vh;
    background-image: url(./images/Calculationbg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
